<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                body { margin: 0; font-family: sans-serif; }
                .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
                menu { margin: 0; padding: 0; display: flex; list-style-type: none; background-color: black; }
                menu a { display: block; line-height: 50px; padding: 0 20px; text-decoration: none; color: white; }
                menu a:hover { color: #ddd; }
            </style>
        {% endblock %}

        {% set totalPrice = 0 %}
        {% set cart = app.session.get('cart')  %}
        {% for key, it in cart %}
            {% set totalPrice = totalPrice + it|e  %}
        {% endfor %}
    </head>
    <body>
        <menu>
            <li><a href="{{ path('todo') }}">Task</a></li>
            <li><a href="{{ path('shop_list') }}">Products</a></li>
            <li><a href="{{ path('cart') }}">cart </a></li>

            <li><a href="#">Items in cart:  {{ totalPrice }} </a></li>
        </menu>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.5.1.js"
                    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                    crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
